@page
@model Ultraverse.Pages.registerModel
@{
    ViewData["Title"] = "register page";
}

<div class="ui container">

		<div class="tiny container">
			<div class="ui raised segments">
				<div class="ui segment">
					
				</div>
				<div class="ui right aligned segment">
                    <button tabindex="3" class="ui primary button" type="submit" form="register-form">Submit"</button>
				</div>
			</div>
		</div>
	
</div>
